[project]
name = "templates"
version = "7.0.0"
description = "Add your description here"
readme = "Readme.md"
requires-python = ">=3.14.0"
dependencies = [
    "pyyaml>=6.0.3",
    "toml>=0.10.2",
]

[tool.project.config]
auto_invoke_scroll="SCROLL-TEMPLATE-UPLOAD"
base_file_count=4
batch_txt_protocol_src="Assets/Batch-Text-Upload_Protocol.md"
bootstrap_src="Assets/Codex-Bootstrap-Declaration.md"
current_user="Soluun"
files_upload_protocol_src="Assets/Codex-Manual-Upload-Files-Protocol.md"
non_template_patterns=["README.md", "codex-template-*.md", "SCROLL-TEMPLATE-UPLOAD-*.md"]
pkg_out_dir="./dist"
protocol_src="Assets/SCROLL-TEMPLATE-UPLOAD.md"
readme_src="Readme.md"
reg_file_name="00-Master_Metadata_Registry.yml"
reg_file="Metadata/00-Master_Metadata_Registry.yml"
template_dirs=["Certificate", "Glyphs", "Nodes", "Scrolls", "Seals", "Sigils"]
version_override=""
